@use '../base/variables' as v;
@use '../base/mixins' as m;

.about-festival {
  padding: 5rem 0;
  @include m.tablet{
    @include m.grid(2, 5rem);
  }
}
.content-festival {
  margin-top: 5rem;
  @include m.tablet{
    margin-top: 0;

  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
  margin-bottom: 2rem;
  }

  .date {
    color: v.$rose;
    font-weight: bold;
  }
}